#fridge {
  margin-top: 25vh;
  width: 120vh;
  height: fit-content;
}

.fridge-head {
  position: relative;

  width: 100%;
  height: 50vh;

  background-color: var(--body);

  border-radius: 10vh 10vh 0 0;
}

.title {
  font-family: 'Lobster', sans-serif;
  font-size: 10vh;
  color:var(--accent);

  transform: rotateZ(-10deg);
}

.handle, .handle-2 {
  height: 4vh;
  width: 25vh;
  background-image: linear-gradient(0deg, var(--accent) 50%, var(--accent2) 50%);
  border-radius: 20vh 15vh 15vh 20vh;
}

.handle {
  position: absolute;
  right: 4vh;
  bottom: 4vh;
}

.handle-2 {
  position: absolute;
  right: 4vh;
  top: 4vh;
}

.divider {
  width: 100%;
  height: 2.5vh;
  background-image: linear-gradient(0deg, var(--accent) 33%, var(--div) 33%, var(--div) 66%, var(--accent) 66%);
}

.bottom {
  width: 100%;
  height: 5vh;

  background-color: var(--bottom);
  border-radius: 0 0 5vh 5vh;
}

.section {
  position: relative;
  width: 100%;
  min-height: 50vh;
  padding: 10vh 0 5vh;
  height: fit-content;
  background-color: var(--body);
  flex-wrap: wrap;
}

#filter {
  position: absolute;
  height: 3vh;
  bottom: 4vh;
  border: none;
  
  font-size: 2vh;
  background-color: var(--bottom);
  font-family: 'Gloria Hallelujah', cursive;

  border-radius: 4vh;
  padding: 0.5vh 1.5vh;

  color: var(--accent);
}

#filter::placeholder {
  opacity: 0.9;
}