@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Lobster&family=Pacifico&family=Rubik+Doodle+Shadow&display=swap');


:root {
  --white: #fffded;

  /*
  -- FRIDGE COLORS --
  */
  --body: #1abc9c;
  --bottom: #2BA98C;
  --disabled: #196150;
  --accent: #efefef;
  --accent2: #d9d8d9;
  --div: #2c3e50;

  /*
  -- SMALL FRIDGE COLORS --
  */
  --sbody: #bd1a3b;
  --sbottom: #99152f;
  --sback: #801127;

  /* 
  -- POST IT COLORS --
  */
  --base: #FEF172;
  --top: #e2d664;


  /*
  -- LOADER --
  */
  --lbase: #9412df;
  --lbottom: #680e9c;
  --lback: #480a6b;
}

* {
  margin: 0;
  padding: 0;
}

#__nuxt, html, body, #main {
  height: 100%;
  width: 100%;
  background-color: var(--white);
}

input:disabled {
  background-color: var(--disabled);
  opacity: 0.4;
}

button {
  font-size: 2.5vh;
  padding: 0.5vh 1vh;
  margin-top: 1vh;
  
  border-radius: 1vh;
  border: none;
  
  font-family: 'Pacifico', serif;
  background-color: var(--bottom);
  color: var(--accent);
  
  transition: 0.1s;
  width: fit-content;
}

button:hover {
  cursor: pointer;
  transform: translate(-0.5vh, -0.5vh);
  box-shadow: 0.5vh 0.5vh black;
}

.flex-h {
  display: flex;
  justify-content: center;
}

.flex-v {
  display: flex;
  align-items: center;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.container {
  position: relative;
  width: 100%;
  padding-bottom: 4vh;
}

.fc {
  height: fit-content;
}
.fh {
  height: 80vh;
}

.pad-2 {
  padding: 2vh;
  font-size: 2vh;
}

/*
----- LOADING ANIMATION -----
*/

.loading {
  position:fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: var(--white);
}

.spinfridge {
  position: relative;
  
  transform-origin: 12.5 15vh;

  margin-top: 15vh;
  width: 25vh;
  height: 35vh;
  border-radius: 4vh;
  background-color: var(--lbase);

  box-shadow: 7vh -3.5vh var(--lback), 
  6vh -3vh var(--lback), 5vh -2.5vh var(--lback), 
  4vh -2vh var(--lback), 3vh -1.5vh var(--lback), 
  2vh -1vh var(--lback), 1vh -0.5vh var(--lback);

  animation: loader 1.5s cubic-bezier(0.595, -0.250, 0.265, 1.550) infinite;
}

.spinfridge::before {
  content: "";
  position: absolute;
  top: 12.5vh;
  width: 100%;

  height: 1.5vh;
  background-image: linear-gradient(0deg, var(--accent) 33%, var(--div) 33%, var(--div) 66%, var(--accent) 66%);
}

.spinfridge::after {
  content: "";
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 3.5vh;

  background-color: var(--lbottom);
  border-radius: 0 0 4vh 4vh;
}

.spinhandle, .spinfridge::after {
  position: absolute;
  right: 2vh;
  top: 15.5vh;

  height: 1.5vh;
  width: 7.5vh;
  background-image: linear-gradient(0deg, var(--accent) 50%, var(--accent2) 50%);
  border-radius: 20vh 15vh 15vh 20vh;
}

.spinfridge::after {
  top: 9.5vh;
}

.spinheader {
  position: absolute;
  top: 10vh;
  margin: 0 auto;
  font-family: 'Lobster', sans-serif;
  font-size: 15vh;
  transform: rotateZ(-5deg);
}

@keyframes loader {
  from {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}