@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Lobster&family=Pacifico&family=Rubik+Doodle+Shadow&display=swap');


:root {
  --white: #fffded;

  /*
  -- FRIDGE COLORS --
  */

  --body: #1abc9c;
  --bottom: #2BA98C;
  --accent: #efefef;
  --accent2: #d9d8d9;
  --div: #2c3e50;

  /* 
  -- POST IT COLORS --
  */
  --base: #FEF172;
  --top: #e2d664;
}

* {
  margin: 0;
  padding: 0;
}

#__nuxt, html, body, #main {
  height: 100%;
  width: 100%;
  background-color: var(--white);
}

.flex-h {
  display: flex;
  justify-content: center;
}

.flex-v {
  display: flex;
  align-items: center;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.container {
  width: 100%;
  height: fit-content;
  padding-bottom: 4vh;
}