.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  
  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.contents {
  position: relative;
  width: 80vh;
  min-height: 60vh;
  height: fit-content;

  background-color: var(--base);
  z-index: 20;
  border-radius: 1vh;
}

.popup-header {
  width: 100%;
  height: 10vh;
  background-color: var(--top);

  font-family: 'Pacifico', cursive;
  font-size: 5vh;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 1vh;
}

.text {
  height: fit-content;
  width: 95%;
  margin: 1vh auto;

  font-size: 1.75vh;
  font-family: 'Gloria Hallelujah', cursive;
}

.author {
  position: absolute;
  font-size: 1.5vh;
  bottom: 0.5vh;
  right: 1vh;
  font-family: 'Gloria Hallelujah', cursive;
}

.comment {
  position: relative;
  background-color: var(--base);
  width: calc(80vh - 4vh);
  border-radius: 2vh;
  border: none;
  padding: 2vh 2vh;
  margin: 2vh 0;
  font-size: 1.5vh;
  font-family: 'Gloria Hallelujah', cursive;
}

textarea {
  background-color: var(--top);
  border: none;
  border-radius: 1vh;
  width: 90%;
  max-width: 90%;
  min-width: 90%;
  padding: 1vh;
}

.popup-input {
  position: relative;
  background-color: var(--top);
  border: none;
  border-radius: 1vh;
  margin-top: 2vh;
  padding: 1vh;
  width: 90%;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2vh;
}

button {
  background-color: var(--top);
  color: black;
}

.ci {
  margin-top: 0;
  border: none;
  
  font-size: 2vh;
  font-family: 'Gloria Hallelujah', cursive;

  border-radius: 1vh;
  padding: 0.5vh 1.5vh;

  margin-right: 1vh;
  transition: 0.1s;
}